span.title {
    display: inline-block;
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
  }

  .music_content {
      display: grid;
      grid-gap: 30px;
      margin-left: 10px;
  }

  .music_content_block {
    height: 690px;
  }