

.profile-page {
  display: grid;
  grid-gap: 15px;
  grid-gap: var(--gap-between-blocks);
  grid-template-columns: 300px 1fr;
}

.main-image img {
  width: 100%;
  object-fit: cover; 
  margin-top: -50px;
}

.main-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  padding: 0!important;

  grid-column-start: 1;
  grid-column-end: 3;
}

.user-profile__img {
  width: 185px;
  height: 185px;
  border-radius: 7px;
}

.user-profile__info {
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  font-size: 15px;
}

.user-profile__info li {
  margin-bottom: 13.5px;
}

.user-info__name {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.user-profile {
  display: flex;
  align-items:stretch;
  justify-content: flex-start;

  grid-column-start: 1;
  grid-column-end: 3;
}

.user-info__data {
  color: rgb(82, 82, 82);
}

.user-info__data a{
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.user-info__data a:hover {
  color: rgb(82, 82, 82);
  text-decoration: underline;
}

.user-info__data span {
  display: inline-block;
  min-width: 80px;
  max-width: 350px;
  min-height: 15px;
  max-height: 55px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.user-info__data span:hover {
  background-color: #e4ebff;
  cursor: pointer;
  text-decoration: underline;
}

.user-info__data input {
  margin-top: -5px;
  margin-left: -5px;
  width: 350px;
}

.user_block {
  padding: 15px;
}

.user_block__1 {
  margin-right: 10px;
}

.user_block__2 {
  flex: 1;
  padding-left: 20px;
}

.contact_buttons a,
.contact_buttons button {
  display: block;
  width: 100%;
  padding: var(--padding-buttons-ui);
  color: white;
  text-decoration: none;
  background-color: var(--main-blue-color);
  border: none;
  border-radius: var(--button-radius-ui);
  text-align: center;
}

.contact_buttons a {
  margin: 10px 0 7px;
}

.contact_buttons a:hover,
.contact_buttons button:hover {
  color: #fff!important;
  background-color: #3958a8;
}

li.user-info__status {
  margin-bottom: 30px;
  font-style: italic;
}

.showmore_btn {
  color: var(--main-blue-color);
  text-decoration: underline;
  cursor: pointer;
}

.inactive_btn button,
.inactive_btn a,
.inactive_btn button:hover,
.inactive_btn a:hover{
  background-color: #a6abbb;
  cursor: default;
}