.profile-page {
  display: grid;
  grid-gap: 15px;
  grid-gap: var(--gap-between-blocks);
  grid-template-columns: 245px 1fr;
}



.main-image img {
  width: 100%;
  object-fit: cover; 
  margin-top: -50px;
}

.main-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  padding: 0!important;

  grid-column-start: 1;
  grid-column-end: 3;
}


.avatar_block {
  width: 225px;
  height: 225px;
  overflow: hidden;
  border-radius: var(--border-radius-ui);
}

.user-profile__img {
  width: 225px;
  height: auto;
  transition: 0.2s ease-in-out;
}

.ava_buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(39 48 84 / 65%);
  margin-top: -80%;
  opacity: 0;
  border-radius: var(--border-radius-ui);
  transition: 0.2s ease-in-out;
}

.ava_buttons label  {
  width: 100%;
  height: 100%;
  padding-top: calc(50% - 30px);
  overflow: hidden;
  border: 0px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.ava_buttons label input {
  display: none;
}

.ava_buttons label i {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}

.avatar_block:hover .ava_buttons {
  opacity: 1;
  margin-top: -100%;
}

.user-profile__info {
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  font-size: 15px;
}

.user-profile__info li {
  margin-bottom: 13.5px;
}

.user-info__name {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.user-profile {
  position: relative;
  display: flex;
  align-items:stretch;
  justify-content: flex-start;
  margin-bottom: 10px;

  grid-column-start: 1;
  grid-column-end: 3;
}

.btn__edit_profile {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  height: 35px;
  padding: 5px;
  font-size: 13px!important;
  /* text-transform: capitalize; */
  text-decoration: none;
  background-color: transparent;
  color: #a6abbb!important;
  border: 0px;
  transition: 0.2s ease-in-out;
}

.btn__edit_profile i {
  margin-left: 3px;
  font-size: 18px!important;
}

.btn__edit_profile:hover {
  filter: brightness(0.5);
}

.btn__edit_profile:active {
  filter: brightness(0.7);
}

.user-info__data {
  color: rgb(82, 82, 82);
}

.user-info__data a{
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.user-info__data a:hover {
  color: rgb(82, 82, 82);
  text-decoration: underline;
}

.user-info__data span {
  display: inline-block;
  min-width: 80px;
  max-width: 350px;
  min-height: 15px;
  max-height: 55px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.user-info__data span:hover {
  background-color: #e4ebff;
  cursor: pointer;
  text-decoration: underline;
}

.user-info__data input {
  margin-top: -5px;
  margin-left: -5px;
  width: 350px;
}

.user_block {
  padding: 15px;
}

.user_block__1 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0px;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0!important;
}

.user_block__2 {
  position: relative;
  flex: 1;
  padding-left: 20px;
  min-height: 270px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.subblock_2_title {
  display: block;
  padding-top: 7px;
  padding-left: 7px;
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.contact_buttons {
  margin-top: 10px;
}

.contact_buttons button,
.contact_buttons a {
  margin-bottom: 5px;
}

.contact_buttons .last {
  margin-bottom: 0;
}

.sub_btn_transparent {
  padding: 7px 5px!important;
  background-color: transparent!important;
  color: #8a94a0!important;
  text-align: left!important;
  vertical-align: bottom;
}

button.sub_btn_transparent:hover {
  color: #747e8a!important;
}

.sub_btn_transparent svg {
  font-size: 22px;
  transform: translateY(-2px);
  margin-right: 8px;
}

ul.friends_last {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.friends_last li {
  width: 75px;
  flex: 75px;
  justify-content: flex-start;
  font-size: 13.2px;
  height: 82px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}
.friends_last li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends_last .user_ava {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0!important;
  width: 60px;
  height: 60px;
  background-color: lightgrey;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}

.friends_last a {
  color: #000!important;
  text-decoration: none;
}

.friends_last a:hover {
  text-decoration: underline;
}
.user_name {
  overflow: hidden;
  display: block;
  height: 20px;
  max-width: 100%;
  color: #171717;
  text-transform: capitalize;
  overflow-wrap: break-word;
}

.user_ava img {
  width: 60px;
  height: auto;
  min-height: 100%;
  max-width: 140%;
}

.contact_buttons button {
  display: block;
  width: 100%;
  padding: var(--padding-buttons-ui);
  color: white;
  text-decoration: none;
  background-color: var(--main-button-color);
  border: none;
  border-radius: var(--button-radius-ui);
  text-align: center;
  transition: 0.2s;
}

.contact_buttons a {
  text-decoration: none;
}


.contact_buttons a:hover,
.contact_buttons button:hover {
  color: #fff;
  background-color: #4a63a3;
  text-decoration: none;
}

.contact_buttons a:nth-child(1) button {
  margin-bottom: 7px;
}

li.user-info__status {
  margin-bottom: 30px;
  font-style: italic;
}

.showmore_btn {
  color: var(--main-blue-color);
  text-decoration: underline;
  cursor: pointer;
}

.showmore_btn:hover {
  color: rgb(46, 46, 46);
}

.inactive_btn button,
.inactive_btn a,
.inactive_btn button:hover,
.inactive_btn a:hover{
  background-color: #a6abbb;
  cursor: default;
}

.profile-info__block {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.profile-info__block_1 {
  grid-template-columns: 210px 200px;
  /* grid-template-columns: 350px 0; */
  margin-bottom: 20px;
}

.profile-info__block_3 {
  grid-template-columns: repeat(2, auto) 0.8fr;
  margin-bottom: 20px;
  margin-left: 10px;
}

.profile-info__block_3 .title {
  grid-column-start: 1;
  grid-column-end: 4;
}

.profile-info__block_3 b {
  text-transform: capitalize;
}

.profile-info__block_3 .title::after {
  content: "";
}

.full-name {
  font-size: 28px;
  font-weight: normal;
  text-transform: capitalize;
  color: #000!important;
  text-decoration: none;
}

.profile_status {
  display: block;
  margin: 6px 0 20px;
  max-width: 290px;
  min-width: 170px;
  max-height: 55px;
  white-space: normal;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.profile-info__block .title{
  display: block;
  margin-bottom: 4px;
  font-size: 0.9em;
  color:#a6abbb;
}

.status_editable {
  display: block;
  padding: 3px 5px;
  margin-left: -5px;
  width: fit-content;

  border-radius: 2px;
}

.status_editable:hover {
  background-color:rgb(215, 227, 243);
}

.profile-info__content .label {
  font-weight: bold;
}

.profile-info__content .label::after,
.profile-info__block_3 b::after {
  content: ":";
}

.profile-info-edit__content button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
}

.profile-info-edit__content input[type="text"],
.profile-info-edit__content input[type="email"],
.profile-info-edit__content input[type="url"],
.profile-info-edit__content textarea {
  width: 175px;
  padding: 9px 7px;
  margin: 5px 0 3px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

textarea.status_edit {
  height: 60px;
  min-height: 60px;
  max-height: 70px;
}

.profile-info__block_1 input,
textarea.status_edit {
  width: 390px;
}

textarea.lookingForJob_edit {
  padding: 0;
  margin: 0;
  width: 390px;
  min-height: 0px;
  height: 0px;
  max-height: 0px;
  resize: none;
  opacity: 0;
  transition: 0.3s;
}

.profile-info__block_2 {
  position: relative;
  margin-bottom: 15px;
}

.profile-info__block_2 input[type="checkbox"]:checked ~ textarea.lookingForJob_edit {
  padding: 8px 10px;
  margin: 10px 0 5px;
  height: 100px;
  min-height: 100px;
  opacity: 1;
}

.lookingAJob_label {
  position: absolute;
  top: 23px;
  left: 20px;
  user-select: none;
}

textarea.lookingForJob_edit::placeholder {
  text-transform: none!important;
}

.profile-info-edit__content .label::after {
  content: ":";
}

.profile-info__block_2 .label::after {
  content: ""!important;
}

.profile-info-edit__content label {
  font-size: 14px;
  text-transform: capitalize;
  max-width: 390px;
  width: max-content;
}

.profile-info-edit__content button {
  display: block;
  padding: 10px 20px;
  margin-left: auto;
  margin-bottom: 5px;
  color: white;
  background-color: #4c6dc1;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.fullname_edit::placeholder,
.profile-info-edit__content textarea::placeholder {
  color: rgb(136, 136, 136);
  text-transform: capitalize;
}

.avatar_edit {
  opacity: 1;
  margin-top: -100%;
}

.avatar_edit:hover {
  filter: contrast(1.2);
}

.main-info__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin: 5px auto 10px;
  padding: 10px;
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
}

.main-info__block {
  text-align: center;
}

.main-info__content .main-info__title {
  display: block;
  margin: 2px 0 4px;
}


.main-info__content .main-num {
  font-size: 27px;
  font-weight: 500;
  color: rgb(136 156 214);
}

.show-more_btn {
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 14.5px;
  border-radius: 5px;
  border: 2px solid #efefef;
  background-color: #fbfbfb;
}

.show-more_btn:active {
  color: rgb(82, 82, 82);
}

.showmore_box {
  width: 100%;
  height: 40px;
  background-color: rgba(239, 239, 239, 0.54);
}

.down-1-px {
  transform: translateY(2px);
}

.profile-info__item .info {
  display: block;
  padding: 3px;
  margin-left: -3px;
  width: max-content;
  max-width: 100%;
  transition: 0.2s;
}

.profile-info__item .info:hover {
  color: #374b7d!important;
}

.about_block {
  padding-top: 12px;
  margin-bottom: 5px;
}

.about_block:first-child {
  padding-top: 20px;
  border-top: 1px solid #efefef
}

.about_block .about_subtitle {
  display: inlne-sblock;
  font-weight: 500;
  margin-left: 15px;
  padding-right: 10px;
  color: #6e7884;
}

.about_block .about_content {
  display: inline-block;
  width: 350px;
  height: 35px;
  position: absolute;
  padding-right: 20px;
  left: 250px;
  color: #656565;
  vertical-align: middle;
  overflow-y: scroll;
}

.about_block .about_content:hover {
  text-decoration: underline;
}

.profile-info__block_2__1 {
  font-size: 14.5px;
  margin-bottom: 25px;
}

.user_block .subblock_1 {
  padding: 10px;
  margin-bottom: 15px;
}

.user_block .subblock_2 {
  padding: 9px 5px;
}