.users_block {
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-gap: 30px 15px;
    margin-left: 10px;
}

.search_block {
    display: flex;
    height: 40px;
    margin-bottom: 15px;
}

.search_block input[type="search"],
.search_block button {
    border: 1px solid #d1d1d1;
    border-radius: var(--border-radius-ui);
}

.search_block input[type="search"] {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 5px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    transition: 1s ease-in-out;
}

.search_block input[type="search"]:focus {
    outline: none;
}

.search_block input[type="search"]::placeholder {
    transition: 0.2s ease-in-out;
    color: rgb(66, 66, 66);
}

.search_block input[type="search"]:focus::placeholder {
    color: rgb(201, 201, 201);
}

.search_block button {
    width: 45px;
    height: 100%;
    flex: 0 0 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.showAll {
    font-size: 14px;
    vertical-align: bottom;
}

.showAll input {
    transform: translateY(1px);
}

.view_settings {
    margin: 25px 0 20px;
    padding-bottom: 15px;
    border: var(--page-border);
    border-left: none;
    border-right: none;
}

.view_settings_title {
    display: block;
    margin: 10px 0 10px;
    font-size: 16px;
    color: var(--subhead-text);
}

span.title {
    display: inline-block;
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
  }
  
.users_section {
    grid-column-start: 1;
    grid-column-end: 2;
}

.navbar {
    padding: 20px;
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.user_block {
    display: flex;
    min-height: 97px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 7px;
    padding: 5px 0;
}

.user_avatar {
    margin: 0 12px;
    align-self: center;
    width: 70px;
    height: 70px;
    background-color: #979797;
    border-radius: 5%;
    overflow: hidden;
    flex: 0 0 70px;
}

.user_avatar img {
    max-width: 100%;
    transform: scale(1.1);
}

.user_mainInfo {
    margin: 10px 0 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.user_location {
    margin-left: auto;
    margin-right: 15px;
    align-self: center;
    max-width: 80px;
    text-align: center;
    font-weight: 500;
    color: #525252;
    font-size: 14px;
}

.user_name {
    display: block;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: capitalize;
}

.user_name a {
    text-decoration: none;
    color: #000;
}

.user_name a:hover {
    text-decoration: none;
}


.action_buttons {
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 8px 0 5px;
    
}

.action_buttons a, 
.action_buttons a:not([href]) {
    display: inline-block;
    padding: 2px 2px;
    letter-spacing: 0.01em;
    color:rgb(35, 61, 110);
    text-decoration: none;
}

.action_buttons a:hover, 
.action_buttons a:not([href]):hover {
    text-decoration: underline;
    cursor: pointer;
}

.action_user_btn {
    width: 85px;
    margin: 0 15px;
    align-self: center;
    margin-left: auto;
    font-size: 12px;
    text-align: right;
    flex: 0 0 70px;
}

.action_user_btn a {
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none; 
}

.action_user_btn a:hover {
    background-color: rgba(162, 195, 255, 0.479);
}

.user_unsub .main_actions a {
    cursor: default;
}

.user_unsub .main_actions a:hover {
    text-decoration: none;
}

.user_unsub {
    /* opacity: 0.7;
    filter: grayscale(0.8); */
}

.user_status {
    color: #72767b;
    font-size: 14px;
    overflow-wrap: anywhere;
    word-break: break-all;
}

.btn_load {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 15px;
    color: white;
    background-color: #4c6dc1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.btn_load:hover {
    background-color: #4461ac;
}

.pagination {
    margin-top: 20px;

}

.disabled_link {
    pointer-events: none;
}

.pagination ul {
    display: block;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    user-select: none;
    font-size: 0!important;
    letter-spacing: 0;
    border-radius: 10px;
}

.pagination li {
    display: inline-block;
    min-width: 46px;
    height: 40px;
    margin: 0;
    margin-left: -1px;
    font-size: 14px;
    line-height: 38px;
    color:#4c6dc1;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
    user-select: none;
    background-color: #fff;
}

li.currentPage {
    font-weight: bold;
    background-color:#4c6dc1;
    color: #fff;
    border: 1px solid #4c6dc1;
}

li.pag_arrow {
    padding: 0 10px;
    line-height: 32px;
}

li.pag_arrow span {
    display: inline-block;
    margin: 0 3px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
    transform: translateY(2px);
}

li.pag_arrow:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

li.pag_arrow:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination li:hover {
    background-color: #f0f0f0;
}

li.pag_arrow:hover {
    background-color: #6f8fdf;
    color: #fff;
    border-color: #6f8fdf;
}

li.currentPage:hover {
    background-color:#4c6dc1;
}