.user_posts {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user_posts span.title {
  display: block;
  margin: 12px 0;
  font-size: 28px;
  font-weight: bold;
}

.new_post_input {
  margin-bottom: 15px;
}

.new_post_input textarea{
  width: 100%;
  min-height: 115px;
  max-height: 90px;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box;

  background-color: #f3f3f3;
  font-family: inherit;
  font-size: 16px;

  border: 1px solid #dadada;
  border-radius: 5px;
}

.new_post_input textarea::placeholder {
  font-size: 16px;
}

.new_post_input button {
  display: block;
  padding: 12px 20px;
  margin-left: auto;

  color: white;
  background-color: #4c6dc1;


  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.user_posts__last {
  display: flex;
  flex-direction: column-reverse;
  overflow-wrap: break-word;
}