.user_posts {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 0px;
}

.user_posts__last {
  display: flex;
  flex-direction: column-reverse;
  overflow-wrap: break-word;
}

.user_posts_navtitle {
  z-index: 10;
  padding: 0 10px;
  position: relative;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-bottom: 2px solid var(--page-border-color);
  box-shadow: var(--page-block-shadow-less);
}

.feed_block:nth-last-child(1) > div {
  z-index: 100;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  box-shadow: var(--page-block-shadow-less);
}

.user_posts_nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user_posts_nav li {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.user_posts_nav li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: var(--tab-secondary);
  transition: 0.2s;
}

.user_posts_nav li a:hover {
  text-decoration: none;
  color: var(--tab-hover)!important;
}

.user_posts_nav li a.active {
  color: var(--black-important);
}

.user_posts_nav .active li a:hover {
  color: var(--black-important);
}

.user_posts_active {
  position: relative;
}

.user_posts_nav::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 10px;
  width: 79px;
  height: 3px;
  background-color: var(--main-blue-color);
  transition: 0.2s cubic-bezier(0.92, 0.07, 0.08, 0.96);
}

.user_posts_ac_1::after {
  left: 94px;
  width: 82px;
}

.user_posts_ac_2::after {
  left: 181px;
  width: 104px;
}

.whatsNewPost_profile {
  min-height: 80px;
}

