.app_header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    padding: 17px 15px;
    background-color: #4c6dc1;
    /* margin-top: 10px; */
    border-radius: var(--border-radius-ui);
    z-index: 100;
  }
  
  .app_header img {
    width: 34px;
    max-width: 34px;
    height:auto;
    max-height: 20px;
    filter: brightness(20);
  }
  
  .main_nav a,
  .main_nav span {
    color: white;
    text-decoration: none;
    font-weight: 500;
    color: #f1f1f1;
    cursor: pointer;
  }

  .main_nav a:hover,
  .main_nav span:hover {
    color: #fff;
  }

  .main_nav i {
    font-size: 20px;
    margin-left: 5px;
    transform: translateY(2px);
  }

  .main_nav {
    color: #fff;
  }