.app_header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #4c6dc1;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .app_header img {
    width: 34px;
    max-width: 34px;
    height:auto;
    max-height: 20px;
    filter: brightness(20);
  }
  
  .main_nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  .main_nav {
    color: #fff;
  }