.newEventCount {
  position: absolute;
  display: block;
  padding: 1px 4px;
  min-width: 22px;
  right: 0;
  bottom: 6px;

  text-align: center;
  font-size: 13.5px;
  font-family: Helvetica;
  line-height: 15.5px;
  color: #fff;
  background-color:var(--main-blue-color);
  border-radius: 4px;
  border: 1.4px solid var(--main-blue-color);
  box-sizing: border-box;
}

.app_navbar {
    height: fit-content;
    border-radius: var(--border-radius-ui);
  }
  
  .app_navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .app_navbar li {
    position: relative;
    display: inline-block;
    display: block;
    margin: 10px 0;
  }

  
  .app_navbar a {
    display: block;
    position: relative;
    padding: 5px;
    /* color: #6e7884; */
    color: #4b5b70;
    font-size: 14.5px;
    font-weight: 500;
    text-decoration: none;
  }

  .app_navbar svg {
    font-size: 19px;
    line-height: 1px;
    margin-right: 5px;
    transform: translateY(-1px);
  }
  
  .app_navbar a:hover {
    opacity: 0.95;
    color: #808080!important;
  }
  
  .app_navbar .current::before {
    display: inline-block;
}

.app_navbar a::before {
  content: '';
  position: absolute;
  display: none;
  width: 5px;
  height: 5px;
  bottom: 11px;
  left: -5px;
  background-color: #e9e9e9;
  opacity: 34%;
  border-radius: 50%;
}

.app_navbar i {
  color: #808080;
  margin-right: 5px;
}

.subnav_info {
  width: 88%;
  border-top: 1px solid rgb(226, 226, 226);
  padding-top: 5px;
  margin-top: 25px;
  color: #838c97;
}

.subnav_info > a {
  margin: 0;
  padding: 0 4px;
  margin-bottom: 4px;
  font-size: 11.5px;
  display: inline-block;
}

.subnav_info > a:hover {
  color: inherit!important;
  text-decoration: underline;
}
