.app_navbar {
    padding: 20px;
    padding-left: 15px;
    background-color: #4c6dc1;
    min-height: 80vh;
    border-radius: 5px;
  }
  
  .app_navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .app_navbar li {
    display: inline-block;
    display: block;
    margin: 7px 0;
  }
  
  .app_navbar a {
    display: block;
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .app_navbar a:hover {
    text-decoration: underline;
  }
  