.app_navbar {
    padding: 20px;
    background-color: #4c6dc1;
    min-height: 80vh;
  }
  
  .app_navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .app_navbar li {
    display: block;
    margin: 3px 0;
  }
  
  .app_navbar a {
    display: block;
    padding: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  
  .app_navbar a:hover {
    text-decoration: underline;
  }
  