.user_posts__last_item img {
    align-self: flex-start;
    width: 45px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
  }
  
  .user_posts__last_item {
    display: flex;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 18px;
  }
  
  .post_content {
    width: 90%;
  }

  .post_content span:first-of-type {
      display: block;
      margin-bottom: 6px;
  }

  .likes_count {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #4c6dc1;
      cursor: pointer;
  }

  .likes_count::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-bottom: -1px;
    margin-left: 5px;
    background-image: url('../../../../img/heart.svg');

  }
  
  .empty_cm {
      color: gray;
  }

  .empty_cm + .likes_count {
    filter: saturate(0)
            brightness(1.5);
  }

.post_content span:first-of-type {
  line-height: 140%;
}