.form_control {
    display: inline-block;
    position: relative;
}

.form_control_block {
    display: block;
    position: relative;
}

.error input,
.error textarea {
    border: 1px solid red;
    position: relative;
}

.error span {
    display: inline-block;
    min-width: fit-content;
    padding: 10px 12px;
    position: absolute;
    top: 10px;
    right: calc(100% + 15px);

    color: white;
    white-space: normal;
    background-color: #dc3545;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
}

.error span::after {
    content: '';
    display: block;
    position: absolute;
    right: -6px;
    top: 5px;

    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #dc3545;
    border-radius: 5px;
}