.form-check-captcha {
    display: none;
    align-items: center;
}

.captcha-visible {
    display: flex;
}

.form-error {
    display: none;
    width: 100%;
    padding: 18px 23px;

    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);

    font-size: 15px;
    background-color: #ffebe9;
    border: 1px solid rgb(255 129 130 / 40%);
    border-radius: 7px;
}

.form-error i {
    color: #cf222e;
    font-size: 18px;
    transform: translateY(1px);
    margin-right: 9px;
}

.form-error-visible {
    display: block;
}

.login_content {
    position: relative;
    width: 400px;
    margin: 0 auto;
    margin-top: 220px;
    background-color: #f0f0f0;
    padding: 45px 45px 25px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
}

button.btn-login {
    background-color: #4c6dc1!important;
    color: #fff;
}

button.btn-login:hover {
    background-color: #3b5391!important;
    color: #fff;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    padding-bottom: 7px;
}

.form-check-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 15px;
}

.form-control {
    padding: 10px 15px!important;
    border-radius: 7px!important;
}

.form-control:focus {
    box-shadow: none!important;
}

.form-check-input:checked {
    background-color: #4c6dc1!important;
    border-color: #4c6dc1!important;
}

.captcha-img {
    width: 120px;
    height: auto;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 14.7px;
    overflow: hidden;
    object-fit: scale-down;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    background-color: #4c6dc1;
}

.captcha-img img {
    width: 100%;
    height: auto;
    max-height: 50px;
    transform: scale(1.16) translateX(-5px);
    filter: saturate(0.8) hue-rotate(30deg);
}

.form-check-captcha input {
    padding: 7px 5px!important;
    width: 50%;
    font-weight: 500;
    color: rgb(83, 83, 83)!important;
}