.form-check-captcha {
    display: none;
    align-items: center;
}

.captcha-visible {
    display: flex;
}

.form-check{
    line-height: 21px;
}

.form-error {
    display: none;
    width: 100%;
    padding: 18px 23px;

    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);

    font-size: 15px;
    background-color: #ffebe9;
    border: 1px solid rgb(255 129 130 / 40%);
    border-radius: 7px;
}

.form-error i {
    color: #cf222e;
    font-size: 18px;
    transform: translateY(1px);
    margin-right: 9px;
}

.form-error-visible {
    display: block;
}

.login_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 1130px;
    margin-left: -160px;
}

.login_content {
    position: relative;
    width: 385px;
    padding: 30px 30px 20px;
}

button.btn-login {
    background-color: var(--main-blue-color)!important;
    color: #fff;
    width: 115px;
    border-radius: 4px;
}

button.btn-login:hover {
    background-color: #3b5391!important;
    color: #fff;
}

.form-group {
    margin-bottom: 14px;
}

.form-group label {
    padding-bottom: 7px;
}

.form-check-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 15px;
}

.form-sign-up {
    margin: 15px 0 5px;
}

.form-check {
    font-size: 13.5px;
}

.text-muted {
    font-size: 11.5px;
}

.form-control {
    padding: 9px 15px!important;
    border-radius: 3px!important;
}

.form-control:focus,
select,
input:not([type="radio"]):not([type="checkbox"]) {
    box-shadow: none!important;
}

.form-check-input:checked {
    background-color: var(--main-blue-color)!important;
    border-color: var(--main-blue-color)!important;
}
.form-check-input {
    border-radius: 2px;
}

.captcha-img {
    width: 120px;
    height: auto;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 14.7px;
    overflow: hidden;
    object-fit: scale-down;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    background-color: var(--main-blue-color);
}

.captcha-img img {
    width: 100%;
    height: auto;
    max-height: 50px;
    transform: scale(1.16) translateX(-5px);
    filter: saturate(0.8) hue-rotate(30deg);
}

.form-check-captcha input {
    padding: 7px 5px!important;
    width: 50%;
    font-weight: 500;
    color: rgb(83, 83, 83)!important;
}

.form-help {
    text-align: center;
}

.form-help a {
    color: #3a58a5!important;
    text-decoration: none;
    font-size: 13.4px;
}

.form-help a:hover {
    color: #35529c!important;
    text-decoration: underline;
}

.form-help a:nth-child(1)::after:hover {
    color: black;
}

.sign-up-block {
    margin-top: 15px;
}

.birthday-selectors {
    display: flex;
    flex-wrap: wrap;
}

.birthday-selectors select {
    font-size: 15px;
}

.birthday-selectors .form-select {
    width: 31%;
    margin-right: 3.5%;
}

.birthday-selectors .form-select:nth-last-child(1) {
    margin-right: 0;
}

.title-sect {
    display: block;
    flex: 100%;
    margin: 10px 0 7px;
    color: #363636;
    font-size: 14px;
}

.gender-selectors input {
    margin: 0;
    margin-right: 15px;
}

.gender-selectors {
    padding: 3px 0;
}

.gender-selectors label {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    line-height: 14px;
    font-size: 14px;
}

.sign-up-title {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    /* text-transform: capitalize; */
}

.sign-up-subtitle {
    font-size: 15px;
    margin: 10px 0 25px;
    color: #363636;
    text-transform: capitalize;
}

.sign-up-subtitle,
.sign-up-title {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-sign-up {
    width: 100%;
    background-color: #5fb053;
    color: #fff;
}

.btn-sign-up:hover {
    color: #fff;
    background-color: #4c8b42;
}

/* Presblock start */

.present_block {
    width: 600px;
    margin-right: auto;
    margin-bottom: 80px;
    letter-spacing: 0.02em;
}

.present_block h1 {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 128%;
    font-weight: 600;
    width: 91%;
}

.present_block p {
    font-size: 18.8px;
    line-height: 135%;
    margin-bottom: 35px;
    color:#2e2e30;
}

.present_block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.present_block li {
    position: relative;
    width: 90%;
    padding-left: 30px;
    font-size: 19px;
    line-height: 145%;
    color: #8f91a0;
    margin-bottom: 30px;
}

.present_block li svg {
    font-size: 30px;
    position: absolute;
    left: -10px;
    top: -5px;
}

/* Presblock end */