span.title {
    display: inline-block;
    margin: 10px 0 0 10px;
    font-size: 38px;
    font-weight: bold;
}

.dialogs_userlist_settings,
.dialogs_userlist_search {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    background-color: #ffffff;
}

.dialogs_userlist_settings svg,
.dialogs_userlist_search svg {
    font-size: 22px;
    line-height: 22px;
    color: #BAC6D6;
}

.dialogs_userlist_settings {
    bottom: 0;
    width: 252px;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    border: 1px solid #e3e3e3;
    border-top: 0!important;
    border-bottom-left-radius: 5px;
}

.dialogs_userlist_settings span {
    margin-right: 20px;
    color: #41485f;
}

.dialogs_userlist_search {
    top: 0;
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #e3e3e3;
}

.dialogs_userlist_search input {
    width: 170px;
    padding: 15px 0 15px 30px;
    height: 30px;
    border: none;
}

.dialogs_userlist_search input:focus {
border: none;
box-shadow: none;
outline-offset: 0;
outline: none;
}

.dialogs_userlist_search input::placeholder,
.pinned_conv {
    color: #7f8c9c!important;
}

.dialogs_userlist_search label svg {
    position: absolute;
    bottom: 16px;
    left: 15px;
}

.pinned_conv svg,
.pin_conv svg{
    transform: translateY(-2.5px);
}


.pinned_conv svg,
.pinned_conv {
    font-size: 15px;
}

.pinned_conv svg {
    margin-right: 2px;
}

.pinned_conv,
.pin_conv {
    margin-left: 5px;
    cursor: pointer;
}


.user_item {
    position: relative;
}

.user_data {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.last_seen {
    width: fit-content;
    margin: 0 15px;
    color: var(--subhead-text);
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -10px; 
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(65, 190, 82);
}

.user_item .online {
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 0!important;
}

.user_item .online::after {
    position: absolute;
    width: 13.2px;
    height: 13.2px;
    bottom: -2px;
    left: -3px;
    border: 2px solid white;
    font-size: 0!important;
}


.newMessagesCount {
    position: absolute;
    display: block;
    padding: 1px 4px;
    min-width: 22px;
    color: white;
    right: 15px;
    top: calc(50% - 9px);
    text-align: center;
    font-size: 13.5px;
    font-family: Helvetica;
    line-height: 15.5px;
    background-color: rgb(71, 151, 255);
    border-radius: 10px;
    border: 1.4px solid #4c6dc1;
    box-sizing: border-box;
}


@keyframes slidein {
    0% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-2px);
      }
  }

.btn_dialogs_scroll button:hover > i {
    color: #c2c2c2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-name: slidein;
    animation-direction: alternate;
}

.dialogs_user_section {
    position: relative;
    height: 690px;
    height: calc(100% - 60px);
    border: var(--page-border);
    background-color: white;
    border-right: 0;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.loader_mess {
    width: 40px;
    height: 40px;
    margin: 10px auto;
}

.loader_mess img {
    width: 100%;
}

.loader_start {
    display: block;
    margin: 15px 0;
    text-align: center;
    color: #868e9b;
}

.scrollableWindow {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.messageInput,
.current_dialog {
    z-index: 1000000;
}

.select_dialogscreen {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: var(--page-border);
    /* border-left: none; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select_dialogscreen span {
    font-size: 21px;
    color: var(--subhead-text);
}

.end_dial {
    padding-top: 20px;
    /* border: 1px solid red; */
}

.user_name {
    display: block;
    white-space: nowrap;
    max-width: 128px;
    margin-left: 6px;
    overflow: hidden;
    text-transform: capitalize;
}

.dialogs_frame {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 85vh;
    min-height: 750px;
    background-color: #ffffff;
    border-radius: 5px;
}

.dialog_window {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.current_dialog {
    display: block;
    position: absolute;
    padding: 20px;
    margin-left: -1px;
    width: calc(100% + 2px);
    height: 60px;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #fff;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.current_dialog a {
    color: #535353!important;
    text-decoration: none;
}

.current_dialog a:hover {
    color: #2e2e2e!important;
    text-decoration: underline;
    cursor: pointer;
}

.dialog_window > div {
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
    overflow-y: scroll;
    border: 0;
    border-radius: 0;
}

.userlist {
    position: relative;
    padding: 0!important;
    margin: 0;
    margin-top: 60px;
    padding-bottom: 20px;
    width: 250px;
    height: 690px;
    height: calc(100% - 60px);

    box-sizing: content-box;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
}

.userlist div {
    border-radius: 0!important;
    border: 0px;
}

.userlist li:last-of-type {
    border-bottom: 0;
}

.userlist li a {
    display: block;
    position: relative;
    padding: 23px 30px;
    padding-left: 65px;
    color: black;
    text-decoration: none;
}

.userlist li {
    border-bottom: 1px solid #e3e3e3;
}

.userlist li:hover {
    background-color: #f7f7f7;
}

img.userlist_avatar {
    display: block;
    position: absolute;
    left: 20px;
    bottom: calc(50% - 21px);
    width: 40px;
    height: 40px;
    background-color: #e3e3e3;
    border-radius: 50%;
    border: 0px solid white;
}

/* TODO: */
.userlist .selected_item,
.userlist .selected_item:hover{
    background-color: rgba(76, 109, 193, 0.9);
    color: #fff!important;
}

.message .userAvatar {
width: 45px;
height: 45px;
border-radius: 50%;
}

.message {
    display: flex;
    position: relative;
    margin: 0 20px;
    padding: 15px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid transparent;
}

.status {
    position: absolute;
    right: 97px;
    top: 30px;
    font-size: 13.2px;
    color: #b7beca;
}

.viewed {
    color:#9bc7ff;
}

.message_data {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 12.7px;
    color: #919191;
    text-align: right;
}

.message_data span {
    display: block;
    margin-top: 3px;
    color: #cccccc;
}

.message a {
    color: black;
    text-decoration: none;
}

.message_content {
    margin-left: 8px;
    width: 470px;
}

.message_content > span {
    display: block;
    font-size: 14.5;
}

.messageInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    bottom: -5px;
    left: 0;
    padding: 30px;
    margin-top: auto;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 0 0 5px 0;
    border-top: 1px solid #f3f3f3;
    box-shadow: var(--page-block-shadow);
}

.messageInput textarea,
.messageInput button {
    display: block;
    border: none;
    border-radius: var(--button-radius-ui);
}

.messageInput textarea {
    min-width: 500px;
    max-width: 500px;
    height: 60px;
    max-height: 100px;
    min-height: 60px;

    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    box-sizing: border-box;
    border: var(--page-border);
    resize: none;
}

.messageInput button {
    min-width: 50px;
    min-height: 50px;
    margin-left: 15px;
    color: white;
    background-color: #4c6dc1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.messageInput button svg {
    font-size: 25px;
}

.messageInput button:hover {
    background-color: #4461ac;
}

.messageInput textarea:focus {
    background-color: #ffffff;
    outline: none;
}

.messageInput textarea::placeholder {
    font-size: 16px;
}

.floatRight {
    margin-left: auto;
}

.add_file {
    color: #ababab!important;
    font-size: 20px;
    padding: 10px;
    margin-right: 5px;
    align-self: flex-start;
    cursor: pointer;
}